* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.flex-item {
    width: 25%;
    box-shadow: rgba(123, 45, 9, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 15px;
}

h4 {
    margin: 0;
}

.flex-item p {
    color: grey;
    font-size: smaller
}


.name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-price p {
    color: rgb(176, 119, 5);
    font-weight: bold;
}