body {
    margin: 0;
    padding: 0;
}

#section-1 {
    background-color: rgb(0, 204, 255);
}

#section-2 {
    background-color: rgb(0, 57, 148);
}

.sections {
    padding: 50px;
}

h2 {
    margin: 0px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.flex-container {
    display: flex;
}

.flex-item {
    text-align: center;
}

.flex-item img {
    width: 40px;
    border-radius: 100%;
}

a {
    text-decoration: none;
    font-size: 10px;

    text-align: left;
}

a p {
    color: white;
    font-style: normal;
    width: 40%;
    margin-left: 30%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}